/* styles.css */

/* variables styling for efficiency */

:root {
    --backgroundcolor: darkgrey;
    --textcolor: #ffffff; 
    --paddingcolor: #333;
}


/* body styling */

body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: var(--textcolor);
    box-sizing: border-box; 
    border: 5px solid black;
    z-index: 1;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--backgroundcolor)  ;
}

/* header styling */

header {
    background-color: var(--paddingcolor);
    color: var(--textcolor);
    position: left;
    width: 100%;
    z-index: 100;
}

.h1 {
    font-size: 50px
}

/* navigation styling */

.navcar {
    height: auto;
    width: 300px;
    position: absolute;
    left: 75px;
    border: 2px solid #000;
    padding: 5px;
    box-sizing: border-box;

}

.navme {
    height: 200px;
    width: 225px;
    position: absolute;
    right: 135px;
    top: 5px;
    border: 2px solid #000;
    padding: 5px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--backgroundcolor);
    border: 5px solid black;
    border-left-width: 0; 
    border-right-width: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

nav li {
    display: inline;
    margin-right: 20px;
    text-align: end;
}

.navlist {
    text-align: right;
    padding: 10px;
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff6b6b;
}

/* hero styling */

#hero {
    color: var(--textcolor);
    text-align: center;
    padding: 100px 0;
    background-color: #333;
}



#hero div {
    border: 5px solid black;
    border-left-width: 0; 
    border-right-width: 0;
}
    


#hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#hero div p{
    font-size: 18px;
}

/* about me styling */

#about {
    background-color: #333;
    padding: 20px 0;
}

#about div {
    border: 5px solid black;
    border-left-width: 0; 
    border-right-width: 0;
    font-size: 18px;
}





#contact {
    background-color: #333;
    padding: 20px 0;
}

#portfolio {
    background-color: #333;
    padding: 20px 0;
}

section .container {
    border: 5px solid black;
    border-left-width: 0; 
    border-right-width: 0;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

/* projects styling */
.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.project {
    background-color: var(--backgroundcolor);
    border: 1px solid #ddd;
    padding: 20px;
    
    text-align: center;
    transition: transform 0.3s;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#week1homework {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 250px;
}

/* footer styling */

footer {
    background-color: #333;
    color: var(--textcolor);
    text-align: center;
    padding: 20px 0;
}

footer div {
    border: 5px solid black;
    border-left-width: 0; 
    border-right-width: 0;
}

/* contact me styling */

#contact {
    background-color: var(--backgroundcolor);
    text-align: center;
    padding: 50px 0;
    border: 5px solid #000;
    border-left-width: 0; 
    border-right-width: 0;
}

#contact h1 {
    font-size: 28px;
    color: var(--textcolor);
    margin-bottom: 20px;
    text-decoration: underline;
}

#contact p {
    font-size: 20px;
    color: var(--textcolor);
    margin-bottom: 30px;
    flex-shrink: 1
}

#contact ul:last-child {
    list-style: none;
    padding: 0;

}

#contact li {
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--textcolor);
}

#contact a {
    text-decoration: none;
    color: #007bff; /* Link color */
    transition: color 0.3s ease;
}

#contact a:hover {
    color: #0056b3; /* Hover color */
}
